{% extends 'base.html.twig' %}

{% block title %}Hello FrontendController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand"
           href="#">
            <img src="{{ asset('build/images/logo_urca_navbar.png') }}"
                 alt=""
                 height="72"> </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{{ path('frontend_index') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item">
                    <a class="nav-link py-1"
                       href="{{ path('app_login') }}">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Bienvenue à l'URCA</h1>
            <p class="lead">Évaluation des compétences</p>
        </div>
    </main>
{% endblock %}
